/* Creamos variables */
:root {
    /*Todo el archivo es :root*/
    --violetaTexto: #594178;
    --violetaHabitacion: #eae7ee;
    --negro: #000000;
    --gris: #313131;
    --fondoGris: #8A8A8A;
    --violetaEvaluaciones: #574178;
    --blanco: #FFFFFF;
    --violetaSeleccionado: #6d5296;
}

/* Saco estilos predeterminados*/
* {
    margin: 0;
    padding: 0;
    /*Así no traen problemas los bordes y los padding*/
    box-sizing: border-box;
}

html {
    /* Para el Ul */
    scroll-behavior: smooth;
}

.contenedor1360 {
    /*Configuracion basica: Ancho maximo, centrado*/
    max-width: 1360px;
    width: 90%;
    margin: 0 auto;
}


/* ***********************
Barra de Navegacion / Cabecera
************************* */
.cabecera {
    position: relative;
    display: inline-block;
    margin-bottom: 100px;
    width: 100%;
    height: 650px;
    background-image: url(img/patio.jpg);
    background-color: var(--fondoGris);
    background-blend-mode: multiply; /* Oscurese la imagen con el background-color de arriba */
    background-size: cover; /* Estira la imagen para que ocupe todo el div */
    background-position: center center;
    /*filter:brightness(0.5);*/
    /*text-align: center;*/
}


.cabecera-titulo {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    /*position: absolute;
    top: 50%;
    left: 25%;*/
    font-size: 60px;
	color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    /*text-align: justify;
    text-justify: inter-word;*/
}

.cabecera-header {
    display: flex;
    align-items: center; /* Centra la columna al medio */
    justify-content: center; /* Justifica el item */
    flex-direction: column; /* Hace el flex en vertical */
    text-align: center;
    margin-top: 10vh; /* Separa 20% */
}

.cabecera-texto{
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    /*position: absolute;
    top: 50%;
    left: 50%; */
    font-size: 16px;
	color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.cabecera-logo-menu {
    display: grid;
    grid-template-columns: 110px calc(100% - 110px);
}

.cabecera-menu {
    display: flex;
    justify-content: right; /* Propiedad de Flex, alinea derecha */
}

.cabecera-logo {
    margin-top: 4vh;
    /*display: inline;*/ /* Paso la etiqueta a linea */
}

.cabecera-ul {
    list-style: none;
    /*le asigno el elemento flex, me pone uno al lado del otro*/
    /* flexbox se aplica al elemento padre, ul */
    display: flex;
    align-items: center; /* Centra la columna al medio */
    justify-content: center; /* Justifica el item */
    text-align: center;
    position: absolute;
    /*left: 60%;*/
    /*margin-right: 4.04vw;*/
    margin-top: 4vh;
    /*margin-top: 45px;*/
}

.cabecera-a {
    text-decoration: none; /* Saca el subrayado */
    /* Separa las letras*/
    /*padding-left: 8px;*/
    padding-right: 30px;
    font-size: 13px;
	color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 750ms ease-in-out;
}

.cabecera-li a:hover{
    color: var(--violetaTexto, .5);
    /*color: rgba(255, 255, 255, .5)*/
}

.menu-barra {
    margin-top: 3vh;
	display: none;
	background: none;
	border: none;
    background-color: var(--violetaEvaluaciones);
    width: 75%;
    height: 46px;
	-webkit-appearence: none;*/ /* Para que zafari no lo muestre como boton*/
}


.menu-boton {
    margin-top: 3vh;
	display: none;
	background: none;
	border: none;
    background-color: var(--violetaEvaluaciones);
    width: 75%;
    height: 46px;
    -webkit-appearence: none; /* Para que zafari no lo muestre como boton*/
    cursor: pointer;
}

.menu-boton:hover {
    background-color: var(--violetaSeleccionado);
}

.menu-texto {
    padding-top: 12px;
    font-size: 14px;
	color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* 
Selecciona el segundo párrafo
p:nth-child(2) {
  background: red;
}
*/

.idioma {
    padding-left: 12px;
}

.idioma > a {
    /* Toma las clases a hijas de idioma */
    text-decoration: none; /* Saca el subrayado */
    font-size: 16px;
	color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

/* ***********************
Bienvenidos
************************* */
.contenedorBienvenidos {

}

h1 {
    /* margin-left: 120px;*/
	font-size: 48px;
	color: var(--violetaTexto);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.subrayado {    
    width: 90px;
    height: 3px;
    background: var(--violetaTexto);
    /*margin-bottom: 35px;*/
}

.subrayadoAnimar {
    animation-name: cambiarTamanio;
    animation-duration: 1s;
}

@keyframes cambiarTamanio{
    0% {
        width: 0px;
        height: 3px;
    }
    100% {
        width: 90px;
        height: 3px;
    }
}

.intro {
    width: 100%;
    /*height: 300px;*/
    /* Se aplica al elemento padre. Pone los elementos hijos uno al lado del otro */
    /* Flexbox ajusta al mayor tamaño al elemento de más tamaño y no tiene un ancho fijo. 
    Reparte toda la pantalla o solo lo necesario */
    display: grid;
    /* flex-direction: row;*/
    grid-template-columns: 1fr 1fr; /* = repeat(2, 1fr); */
    margin-bottom: 30px;
}

.textoIntro {
    margin-top: 35px;
    margin-right: 50px;
    font-size: 14px;
	color: var(--negro);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}


.introIconos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* = repeat(2, 1fr); */
    grid-gap: 27px;
    grid-auto-flow: dense;
}

.iconos-grilla {
    width: 200px;
}

.icono {
    width: 50px;
    height: 33px;
}

.icono-titulo {
	font-size: 18px;
	color: var(--violetaTexto);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.icono-subrayado {    
    width: 25px;
    height: 1px;
    background: var(--negro);
    margin-bottom: 12px;
}

.icono-texto {
	font-size: 14px;
	color: var(--negro);
    font-family: 'Roboto', sans-serif;  
    font-weight: normal;
}

/* ***********************
Habitacion
************************* */
.contenedorHabitacion {
    background-color: var(--violetaHabitacion);
}

.habitacionBloques {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
}

.habitacionBloque {
    width: 100%;
    /*height: 45vh;*/
    /*margin-top: 82px;*/
    /*margin-bottom: 23px;*/
    position: relative;
    display: inline-block;
}

.habitacion-titulo {
    margin-top: 80px;
}

.habitacion-arriba {
    margin-top: 80px;
}

.habitacion-abajo-2 {
    margin-bottom: 80px;
}

.habitacion-abajo-3 {
    margin-bottom: 80px;
}

.imagenLupa{
    position: absolute;
    top: 87%;
    left: 5%;
}

.textoHabitacion {
    margin-top: 35px;
    margin-right: 50px;
	font-size: 24px;
	color: var(--gris);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-bottom: 25px;
}

.boton {
    background-color: var(--violetaTexto);
    width: 180px;
    height: 40px;
    border-radius: 10px; /* Tomar con pixeles, si es rectangular deforma con % */
    transition: box-shadow 500ms ease-in-out;
    text-align: center;

    font-size: 14px;
	color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.reservar {
    text-decoration: none; /* Saca el subrayado */
    font-size: 14px;
	color: var(--blanco);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: block; /* Lo paso a bloque, hago todo clicleable */
}

.boton:hover {
    /* box-shadow le da una sombra alrededor de la caja.
    displazamiento horizontal, vertial, blur(desenfoque), desencuadrada, color*/
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
}

.imagenHabitacion {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    transition: box-shadow 500ms ease-in-out;
    object-fit: cover; /* Achica sin romper proporsion */
}

.imagenHabitacion:hover {
    /* box-shadow le da una sombra alrededor de la caja.
    displazamiento horizontal, vertial, blur(desenfoque), desencuadrada, color*/
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .5);
}


/* ***********************
Evaluaciones
************************* */
.contenedorEvaluaciones {
    position: relative;
    background-color: var(--violetaEvaluaciones);
    margin-bottom: 75px;
    padding: 40px 24px;
    padding-bottom: 100px;
    /* Centro el texto */
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    /*text-align: center;*/

    /*height: 50vh;
    min-height: 500px*/
}

.h1Evaluaciones {
    color: var(--blanco);
    text-align: center;
}


.comillas { /*
    opacity: 0.17;
    float: left;
    margin-right: 50px;*/
}

.guestReview {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: var(--blanco);

    /* Centro el texto */
    min-height: 312px; /* Le pongo min-height para que funcione el alineado vertical de flex */
    /*display: flex;*/
    display: none;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    /*overflow-y: hidden;*/
    overflow-y: scroll;
}

.comillas-reviews {
    /*grid-template-columns: 144px calc(100% - 144px);*/
}


/* Slideshow container */
.slideshow-container {
    position: relative;
    /* background: #f1f1f1f1;*/
    background-color: var(--violetaEvaluaciones);
  }
  
  /* Slides */
  .mySlides {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: var(--blanco);
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    /*color: #888;*/
    color: var(--blanco);
    /*background-color: var(--violetaEvaluaciones);*/
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      /*background: #ddd;*/
      background-color: var(--violetaEvaluaciones);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    /*background-color: #717171;*/
    background-color: var(--blanco);
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}


/* ***********************
La Casa
************************* */
.ContenedorLaCasa {
    margin-bottom: 80px;
}

.h1LaCasa {
    color:var(--violetaTexto);
    text-align: center;
}

.imagenesLaCasa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* = repeat(4, 1fr); */
    grid-gap: 27px;
    grid-auto-flow: dense;
}

.imagenLaCasaA {
    width: 260px;
    height: 260px;
    margin: 0 auto;
    overflow: hidden; /* Oculta la imagen cuando se agranda */
    border-radius: 5%;
}

.imagenLaCasaImg {
    width: 100%;
    height: 100%;
    transition: transform 500ms ease; /* Suaviza el movimiento */
    object-fit: cover; /* Para no deformar las imagenes verticales */
}

.imagenLaCasaImg:hover {
    transform: scale(1.25);
}


/* ***********************
Ubicacion / Mapa
************************* */

.h1Ubicacion {
    text-align: center;
    /*margin-top: 80px;*/
}

.ubicacionConsultas {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
}

.mapa {
    max-width:100%;
    /*height: 450px;*/
    height: 50vh;
}

.mapaIframe {
    width:100%;
    /*height: 100%;*/
    height: 425px;
}

.contenedorUbicacionConsultas {
    background-color: var(--violetaHabitacion);    
}

.contenedorUbicacion {
    margin-bottom: 30px;
}

.contenedorConsultas {
    margin-bottom: 30px;
}

.consultas-texto {
    /*margin-top: 35px;
    margin-right: 50px;*/
    font-size: 14px;
	color: var(--negro);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    float: left;    
}

.texto-form {
    width: 60px;
}

.form-campo {
    width: calc(100% - 60px);
}

.form-mensaje{
    width: 100%;
    height: 250px;
    font-size: 14px;
	color: var(--negro);
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-bottom: 25px;
}

/* ***********************
Pie
************************* */

.contenedorCiudad {
    /*position: absolute;*/
}

.auto {
    /*display: inline;*/
}

.ciudad {
    display: block; /* Hace la etiqueta img de bloque, borra la linea blanca de abajo contra su div*/
    width: 100%;
    height: 52px;
    object-fit: cover; /* Achica sin romper proporsion */
    /*display: inline;*/ /* Paso la etiqueta a linea */
}

.pie {
    float: none;
    background-color: var(--violetaEvaluaciones);
    height: 100px;
}